<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--=========================== Icon Browser =================================-->
    <link rel="shortcut icon" type="x-icon" href="./images/logo.png">
    <!--=========================== font-awesome File ============================-->
    <link rel="stylesheet" href="./css/all.min.css">
    <!--=========================== Bootstrap File ===============================-->
    <link rel="stylesheet" href="./css/bootstrap.css">
    <!--=========================== Font Google ===============================-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet">
    <!--=========================== Css File =====================================-->
    <link rel="stylesheet" href="./sass/Master.css">
    <title>قطرة</title>
</head>
<body>
    <div class="login-box d-flex justify-content-center align-items-center" id="login-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 logo">
                    <img class="img-logo" src="images/logo.png">
                    <img class="img-character" src="images/happy-cracter.png">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 sign-form">
                    <form method ='POST'> 
                        {% csrf_token %}
                        <h3>مرحباً بك من جديد</h3>
                        <p>
                             ليس لديك حساب ؟ 
                            <a href="./SignUp.html">انشئ حساب جديد الان</a>
                        </p>
                        <div class="col-sm-12 user-box">
                            <label>البريد الالكتروني</label>
                            <input class="input-form" type="email" name="username" required>
                        </div>
                        <div class="col-sm-12 user-box">
                            <label>كلمة المرور</label>
                            <a href="./forget_password.html">نسيت كلمة المرور ؟</a>
                            <input class="input-form" type="password" name="password1" id="">
                        </div>
                        <div class="col-sm-12 user-box">
                            <input class="check" type="checkbox">
                            <label class="checkBox">تذكرني</label>
                        </div>
                        <div class="btn-box">
                            <button class="submit_btn" type="submit">تسجيل الدخول</button>  
                            <button class="google_btn" type="submit">
                                Sign in with Google
                                <img src="images/Google__G__Logo 1.png">
                            </button>
                        </div>  
                      </form>
                </div>
            </div>
        </div>
    </div>
    <!---=========================== Jquery File =====================================--->
    <script src="js/jquery-3.6.3.min.js"></script>
    <!--=========================== Bootstrap File =====================================-->
    <script src="js/bootstrap.min.js"></script>
    <!--=========================== Js File =====================================-->
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="js/script.js"></script>
</body>
</html>