<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--=========================== Icon Browser =================================-->
    <link rel="shortcut icon" type="x-icon" href="./images/logo.png">
    <!--=========================== font-awesome File ============================-->
    <link rel="stylesheet" href="./css/all.min.css">
    <!--=========================== Bootstrap File ===============================-->
    <link rel="stylesheet" href="./css/bootstrap.css">
    <!--=========================== Font Google ===============================-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet">
    <!--=========================== Css File =====================================-->
    <link rel="stylesheet" href="./sass/Master.css">
    <title>قطرة</title>
</head>
<body>
    <div class="forget-box d-flex justify-content-center align-items-center" id="forget-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 logo">
                    <img class="img-logo" src="images/logo.png">
                    <img class="img-character" src="images/sad_character.png">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 sign-form">
                    <form>
                        <h3>نسيت كلمة السر ؟</h3>
                        <p>
                             ليس لديك حساب ؟ لا تقلق سنستعديها سوياً ، أدخل بريدك الالكتروني و ستتلقى رابط لتغير كلمة السر 
                        </p>
                        <div class="col-sm-12 user-box">
                            <label> البريد الالكتروني :</label>
                            <input class="input-form" type="email" name="" required>
                        </div>
                        <div class="btn-box">
                            <button class="submit_btn" type="submit">ارسل كود</button>  
                        </div>  
                      </form>
                </div>
            </div>
        </div>
    </div>


    
    <!---=========================== Jquery File =====================================--->
    <script src="js/jquery-3.6.3.min.js"></script>
    <!--=========================== Bootstrap File =====================================-->
    <script src="js/bootstrap.min.js"></script>
    <!--=========================== Js File =====================================-->
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="js/script.js"></script>
</body>
</html>