<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--=========================== Icon Browser =================================-->
    <link rel="shortcut icon" type="x-icon" href="./images/logo.png">
    <!--=========================== font-awesome File ============================-->
    <link rel="stylesheet" href="./css/all.min.css">
    <!--=========================== Bootstrap File ===============================-->
    <link rel="stylesheet" href="./css/bootstrap.css">
    <!--=========================== Font Google ===============================-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet">
    <!--=========================== Css File =====================================-->
    <link rel="stylesheet" href="./sass/Master.css">
    <title>قطرة</title>
</head>
<body>
    <!---=========================== Start Navbar =====================================--->




    <!---=========================== End Navbar =====================================--->
    <div class="profile position-relative" id="profile">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 profile-data">
                    <h3>الصفحة الشخصية</h3>
                    <div class="col-lg-12 col-md-12 col-sm-12 box">
                        <div class="box-label">
                            <i class="fa-solid fa-user"></i>
                            <label>الاسم :  </label>
                    </div>
                        <input type="text" name="" id="">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 box">
                        <div class="box-label">
                            <i class="fa-solid fa-lock"></i>
                            <label>كلمه السر :</label>
                        </div>
                        <input type="text" name="" id="">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 box">
                        <div class="box-label">
                            <i class="fa-solid fa-phone-volume"></i>
                            <label>رقم الهاتف :</label>
                        </div>
                        <input type="tel" name="" id="">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 box">
                        <div class="box-label">
                            <i class="fa-solid fa-envelope"></i>
                            <label>البريد الالكتروني :</label>
                        </div>
                        <input type="email" name="" id="">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 box">
                        <div class="box-label">
                            <i class="fa-solid fa-droplet"></i>
                            <label>الفصيله : </label>
                        </div>
                        <input type="text" name="" id="">
                    </div>
                    <button class="submit_btn save-changes" type="submit">حفظ التغيرات</button>  
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 profile-photo text-center">
                    <h4>الصورة الشخصية </h4>
                    <img src="images/profile-photo.png" alt="">
                    <i class="fa-regular fa-pen-to-square"></i>
                    <p>حذف الصورة</p>
                </div>
            </div>
        </div>
    </div>





























    <!---=========================== start footer steps===================================--->
    <!--
    <footer class="footer" id="#who__us">
        <div class="container">
            <div class="row">
                <div class="footer__row col-lg-12 col-md-12 col-sm-12">
                    <h4>من نحن ؟؟</h4>
                    <p>نص نصص نص نص نص نص نص نص نص نص  نص نصص نص نص نص نص نص نص نص نص  نص نصص نص نص نص نص نص نص نص نص  نص نصص نص نص نص نص نص نص نص نص  نص نصص نص نص نص نص نص نص نص نص  نص نصص نص نص نص نص نص نص نص نص  نص نصص نص نص نص نص نص نص نص نص  نص نصص نص نص نص نص نص نص نص نص  نص نصص نص نص نص نص نص نص نص نص  نص نصص نص نص نص نص نص نص نص نص  نص نصص نص نص نص نص نص نص نص نص  نص نصص نص نص نص نص نص نص نص نص  نص نصص نص نص نص نص نص نص نص نص  </p>
                </div>
                <div class="footer__row col-lg-12 col-md-12 col-sm-12 text-center">
                    <h3>تواصل معانا : </h3>
                    <ul>
                        <li><a href="#"><i class="fa-brands fa-facebook facebook"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-whatsapp whatsapp"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin linkedin"></i></a></li>
                    </ul>
                    <a class="conditions" href="#">الشروط و الاحكام</a>
                    <a href="#">سياسة الخصوصية</a>
                </div>
            </div>
        </div>
    </footer>
    <!---=========================== End footer=====================================--->
    <!---=========================== Jquery File =====================================--->
    <script src="js/jquery-3.6.3.min.js"></script>
    <!--=========================== Bootstrap File =====================================-->
    <script src="js/bootstrap.min.js"></script>
    <!--=========================== Js File =====================================-->
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="js/script.js"></script>
</body>
</html>